/*import font*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*main*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', Verdana, Geneva;
	background-color: #2f89e1;
}
.container {
	width: 75%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

/*header*/
header {
	background-color: #202020;
	border-bottom: #404040 5px solid;
}
header h1 {
	padding-top: 20px;
	font-size: 45px;
	margin: 0;
	color: #5c7cff;
}
header nav {
	padding: 10px 0 10px 0;
}
header ul {
	padding: 0;
	margin: 0;
}
header li {
	display: inline;
	padding: 0 20px 0 20px;
}
header a {
	text-decoration: none;
	font-size: 20px;
	color: #ff9c00;
}
header a#current {
	color: #ffffff;
	border-bottom: #505050 1.25px solid;
}
header a:hover {
	color: #ffffff;
}

/*footer*/
footer {
	border-top: #404040 solid 5px;
	min-height: 75px;
	background: #202020;
	margin: 0;
}
footer #footercenter {
	line-height: 7em;
}
footer p {
	margin: 0;
	font-size: 20px;
	color: #ffffff;
	font-weight: 100;
}

