/*import font*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*main*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', Verdana, Geneva;
	background-color: #2f89e1;
	min-width: 325px;
}
.container {
	width: 75%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

/*header*/
header {
	background-color: #202020;
	border-bottom: #404040 5px solid;
}
header h1 {
	padding-top: 20px;
	font-size: 45px;
	margin: 0;
	color: #5c7cff;
}
header nav {
	padding: 10px 0 20px 0;
}
header ul {
	padding: 0;
	margin: 0;
}
header li {
	display: inline;
	padding: 0 20px 0 20px;
}
header a {
	text-decoration: none;
	font-size: 20px;
	color: #ff9c00;
}
header a:hover {
	color: #ffffff;
}

/*overview*/
#overview {
	min-height: 60vh;
	background: url('../img/overview.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: #ff9c00 5px solid;
}
#overview img {
	margin-top: 30px;
	width: 55%;
	max-width: 325px;
	min-width: 175px;
}
#overview h1 {
	font-size: 50px;
	color: #ff9c00;
	margin-bottom: 10px;
}

/*info - youtube*/
#info {
	padding-bottom: 30px;
	border-bottom: #404040 solid 5px;
}
#info #youtube {
	padding-top: 45px;
	margin: auto;
	max-width: 75%;
	font-size: 20px;
}
#info #youtube a {
	text-decoration: none;
	color: black;
}
#info #youtubeimg {
	width: 100px;
}
#info #video {
	margin: auto;
}

/*arr_sheets - arrangements*/
#arr_sheets {
	background-color: #ffffff;
}
#arr_sheets #disclaimer {
	width: 60%;
	margin: auto;
	padding: 10px 0px 10px 0;
	margin-bottom: 45px;
	background-color: #ffffff;
	border: #ff9c00 5px solid;
}
#arr_sheets #arrangements {
	padding-top: 15px;
}
#arr_sheets #arrangements h1 {
	font-size: 35px;
	margin-bottom: 5px;
}
#arr_sheets #arrangements h2 {
	font-size: 28px;
	margin-bottom: 5px;
}
#arr_sheets #arrangements h3 {
	font-size: 20px;
	margin: 0;
	margin-bottom: 15px;
}
#arr_sheets #arrangements hr {
	opacity: 0.75;
	border: 1.25px solid #ff9c00;
	width: 40%;
	margin-bottom: 25px;
}
#arr_sheets #arrangements p {
	width: 75%;
	font-size: 20px;
	margin: auto;
	padding-bottom: 20px;
}
#arr_sheets #arrangements a {
	display: inline;
	margin: auto;
	padding: 20px 5% 20px 5%;
	text-decoration: none;
	color: transparent;
}
#arr_sheets #arrangements a img{
	width: 15%;
}
#arr_sheets #arrangements .arrangement {
	font-size: 20px;
	display: inline-table;
	width: 30%;
	margin: 0 20px 20px 20px;
	
}
#arr_sheets #arrangements .arrangement #thumbnail {
	width: 90%;
}

/*footer*/
footer {
	border-top: #404040 solid 5px;
	min-height: 75px;
	background: #202020;
	margin: 0;
}
footer #footercenter {
	padding-top: 25px;
	padding-bottom: 15px;
}
footer p {
	margin: 0;
	font-size: 18px;
	color: #ffffff;
	font-weight: 100;
	margin-bottom: 10px;
}
footer h3 {
	color: #ffffff;
}
footer h3 a {
	color: #ff9c00;
	text-decoration: none;
}
footer h3 a:hover {
	color: #ffffff;
}
